img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    text-align: center;
}
div{
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.card-con{
    border: 5px 8px 10px #a34c4c;
    background-color: aqua;
    width: 250px;
    height: auto;
}